tools/onboarding-bot/n8n/workflow-v0.2.json
{
  "id": "potccchatv01000000",
  "name": "POTCC Chat v0.2",
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "nodes": [
    {
      "id": "11111111-0001-0000-0000-000000000000",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 400],
      "parameters": {
        "httpMethod": "POST",
        "path": "potcc-chat",
        "responseMode": "responseNode",
        "options": {}
      },
      "webhookId": "potcc-chat"
    },
    {
      "id": "22222222-0001-0000-0000-000000000000",
      "name": "IF - Is Init",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [460, 400],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-init",
              "leftValue": "={{ $json.body.chatInput }}",
              "rightValue": "__INIT__",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "33333333-0001-0000-0000-000000000000",
      "name": "AI Agent - Opening",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [760, 200],
      "parameters": {
        "promptType": "define",
        "text": "=打招呼",
        "options": {
          "systemMessage": "=你是血染钟楼（Blood on the Clocktower）助手 POTCC（波特克）。\n\n当前用户昵称是 {{ $('Webhook').first().json.body.nickname }}。\n\n现在是他首次进入对话。请用一到两句自然、不重复模板的中文问候语，向他介绍你自己：\n- 你叫 波特克 (POTCC)\n- 你可以帮他了解血染钟楼的基础规则\n- 你可以解释不同角色的技能含义\n- 你可以给出这个角色的基本玩法建议\n\n用亲切但不啰嗦的语气。直接输出问候语，不要任何前后缀。"
        }
      }
    },
    {
      "id": "33333333-0002-0000-0000-000000000000",
      "name": "DeepSeek - Opening",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [680, 400],
      "parameters": {
        "model": {
          "__rl": true,
          "value": "deepseek-chat",
          "mode": "list"
        },
        "options": {
          "baseURL": "https://api.deepseek.com",
          "temperature": 0.9
        }
      },
      "credentials": {
        "openAiApi": {
          "id": "fWu9q6OBHmEuN6S8",
          "name": "OpenAI account"
        }
      }
    },
    {
      "id": "33333333-0003-0000-0000-000000000000",
      "name": "Memory - Opening",
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [840, 420],
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Webhook').first().json.body.sessionId }}",
        "contextWindowLength": 20,
        "tableName": "n8n_chat_histories"
      },
      "credentials": {
        "postgres": {
          "id": "EOM5oSmV2ybBnerE",
          "name": "Postgres account"
        }
      }
    },
    {
      "id": "33333333-0009-0000-0000-000000000000",
      "name": "Respond - Opening",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [1020, 200],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"output\": {{ JSON.stringify($json.output) }}}",
        "options": {}
      }
    },
    {
      "id": "44444444-0001-0000-0000-000000000000",
      "name": "Classify Intent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [760, 600],
      "parameters": {
        "promptType": "define",
        "text": "=用户消息：{{ $('Webhook').first().json.body.chatInput }}",
        "options": {
          "systemMessage": "你是一个意图分类器。根据用户的中文消息，输出严格的 JSON，不要输出任何其他内容。\n\n意图（choose one）：\n- 了解基本规则：询问血染钟楼的整体玩法、阵营、胜负、流程、醉酒中毒等基础概念\n- 了解角色：询问某个具体角色的技能、玩法、作用\n- 其他：询问与血染钟楼规则或角色无关的问题\n- 结束对话：表达再见、结束、离开等意思\n\n如果是\"了解角色\"，还要判断：\n- role_name：用户明确指向的角色中文名（如\"占卜师\"\"投毒者\"\"诺达鲺\"）。如果能明确识别，填写；无法识别，填 null\n- role_confidence：0 到 1 之间的小数，表示你对 role_name 的把握程度\n  - 0.9 以上：用户直接说了角色全名\n  - 0.5-0.9：用户说了可以推测的描述（如\"每晚看两人的角色\"）但没直说名字\n  - 0.5 以下：完全不确定\n\n输出格式（严格 JSON，不要 markdown 代码块）：\n{\"intent\": \"了解基本规则\" | \"了解角色\" | \"其他\" | \"结束对话\", \"role_name\": string | null, \"role_confidence\": number}"
        }
      }
    },
    {
      "id": "44444444-0002-0000-0000-000000000000",
      "name": "DeepSeek - Classify",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [680, 780],
      "parameters": {
        "model": {
          "__rl": true,
          "value": "deepseek-chat",
          "mode": "list"
        },
        "options": {
          "baseURL": "https://api.deepseek.com",
          "temperature": 0
        }
      },
      "credentials": {
        "openAiApi": {
          "id": "fWu9q6OBHmEuN6S8",
          "name": "OpenAI account"
        }
      }
    },
    {
      "id": "55555555-0001-0000-0000-000000000000",
      "name": "Parse Intent",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1020, 600],
      "parameters": {
        "language": "javaScript",
        "jsCode": "const raw = $input.first().json.text || $input.first().json.output || '';\nlet parsed;\ntry {\n  const match = raw.match(/\\{[\\s\\S]*\\}/);\n  parsed = match ? JSON.parse(match[0]) : { intent: '其他', role_name: null };\n} catch (e) {\n  parsed = { intent: '其他', role_name: null };\n}\nreturn [{ json: parsed }];"
      }
    },
    {
      "id": "66666666-0001-0000-0000-000000000000",
      "name": "Switch - Intent",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [1280, 600],
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
                "conditions": [
                  { "id": "c-rules", "leftValue": "={{ $json.intent }}", "rightValue": "了解基本规则", "operator": { "type": "string", "operation": "equals" } }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "了解基本规则"
            },
            {
              "conditions": {
                "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
                "conditions": [
                  { "id": "c-role", "leftValue": "={{ $json.intent }}", "rightValue": "了解角色", "operator": { "type": "string", "operation": "equals" } }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "了解角色"
            },
            {
              "conditions": {
                "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
                "conditions": [
                  { "id": "c-end", "leftValue": "={{ $json.intent }}", "rightValue": "结束对话", "operator": { "type": "string", "operation": "equals" } }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "结束对话"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "其他"
        }
      }
    },
    {
      "id": "77777777-0001-0000-0000-000000000000",
      "name": "Read Core Rules",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1540, 380],
      "parameters": {
        "language": "javaScript",
        "jsCode": "const fs = require('fs');\nconst content = fs.readFileSync('/knowledge/core_rules.md', 'utf8');\nreturn [{ json: { content } }];"
      }
    },
    {
      "id": "77777777-0002-0000-0000-000000000000",
      "name": "AI Agent - Basic Rules",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [1800, 380],
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Webhook').first().json.body.chatInput }}",
        "options": {
          "systemMessage": "=你是血染钟楼助手 POTCC（波特克）。\n\n用户想了解血染钟楼的基础规则。根据下方的规则文档回答用户问题。\n\n要求：\n- 用中文回答\n- 简洁：目标 100 字左右，最多不超过 200 字\n- 只讲用户问的点，不要扩展\n- 如果用户的问题规则文档里没写，坦白说你不确定\n\n---\n规则文档：\n{{ $('Read Core Rules').first().json.content }}"
        }
      }
    },
    {
      "id": "77777777-0003-0000-0000-000000000000",
      "name": "DeepSeek - Rules",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [1720, 580],
      "parameters": {
        "model": { "__rl": true, "value": "deepseek-chat", "mode": "list" },
        "options": {
          "baseURL": "https://api.deepseek.com",
          "temperature": 0.4
        }
      },
      "credentials": {
        "openAiApi": { "id": "fWu9q6OBHmEuN6S8", "name": "OpenAI account" }
      }
    },
    {
      "id": "77777777-0004-0000-0000-000000000000",
      "name": "Memory - Rules",
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [1880, 600],
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Webhook').first().json.body.sessionId }}",
        "contextWindowLength": 20,
        "tableName": "n8n_chat_histories"
      },
      "credentials": {
        "postgres": { "id": "EOM5oSmV2ybBnerE", "name": "Postgres account" }
      }
    },
    {
      "id": "77777777-0005-0000-0000-000000000000",
      "name": "Respond - Basic Rules",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [2080, 380],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"output\": {{ JSON.stringify($json.output) }}}",
        "options": {}
      }
    },
    {
      "id": "88888888-0000-0000-0000-000000000000",
      "name": "IF - Role Confident",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1400, 780],
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "cond-conf",
              "leftValue": "={{ $json.role_confidence }}",
              "rightValue": 0.7,
              "operator": { "type": "number", "operation": "gte" }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "88888888-0006-0000-0000-000000000000",
      "name": "AI Agent - Ask Confirm",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [1800, 1100],
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Webhook').first().json.body.chatInput }}",
        "options": {
          "systemMessage": "=你是血染钟楼助手 POTCC（波特克）。\n\n用户想了解某个角色，但你没完全把握他指的是哪一个。AI 初步推测的角色是：{{ $('Parse Intent').first().json.role_name || '（未识别）' }}。\n\n请用一句中文礼貌地向用户确认："
        }
      }
    },
    {
      "id": "88888888-0007-0000-0000-000000000000",
      "name": "DeepSeek - Confirm",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [1720, 1280],
      "parameters": {
        "model": { "__rl": true, "value": "deepseek-chat", "mode": "list" },
        "options": {
          "baseURL": "https://api.deepseek.com",
          "temperature": 0.5
        }
      },
      "credentials": {
        "openAiApi": { "id": "fWu9q6OBHmEuN6S8", "name": "OpenAI account" }
      }
    },
    {
      "id": "88888888-0008-0000-0000-000000000000",
      "name": "Memory - Confirm",
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [1880, 1300],
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Webhook').first().json.body.sessionId }}",
        "contextWindowLength": 20,
        "tableName": "n8n_chat_histories"
      },
      "credentials": {
        "postgres": { "id": "EOM5oSmV2ybBnerE", "name": "Postgres account" }
      }
    },
    {
      "id": "88888888-0009-0000-0000-000000000000",
      "name": "Respond - Confirm",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [2080, 1100],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"output\": {{ JSON.stringify($json.output) }}}",
        "options": {}
      }
    },
    {
      "id": "88888888-0001-0000-0000-000000000000",
      "name": "Read All Plays",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1540, 780],
      "parameters": {
        "language": "javaScript",
        "jsCode": "const fs = require('fs');\nconst path = require('path');\nconst dir = '/knowledge/plays';\nconst files = fs.readdirSync(dir).filter(f => f.endsWith('.md'));\nconst content = files.map(f => `### ${f.replace('.md','')}\\n\\n` + fs.readFileSync(path.join(dir, f), 'utf8')).join('\\n\\n---\\n\\n');\nreturn [{ json: { content, files } }];"
      }
    },
    {
      "id": "88888888-0002-0000-0000-000000000000",
      "name": "AI Agent - Role Info",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [1800, 780],
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Webhook').first().json.body.chatInput }}",
        "options": {
          "systemMessage": "=你是血染钟楼助手 POTCC（波特克）。\n\n用户询问了某个角色（可能的角色名：{{ $('Parse Intent').first().json.role_name }}）。请根据下方的剧本资料回答：\n1. 这个角色的技能含义\n2. 这个角色怎么玩（基本建议）\n\n要求：\n- 用中文回答\n- 简洁：目标 100-150 字，最多 200 字\n- 如果资料里没有这个角色，说：\"非常抱歉，该角色能力还未被学习，暂时无法帮到你，请尝试其他问题。\"\n- 不要编造\n\n---\n剧本资料：\n{{ $('Read All Plays').first().json.content }}"
        }
      }
    },
    {
      "id": "88888888-0003-0000-0000-000000000000",
      "name": "DeepSeek - Role",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [1720, 980],
      "parameters": {
        "model": { "__rl": true, "value": "deepseek-chat", "mode": "list" },
        "options": {
          "baseURL": "https://api.deepseek.com",
          "temperature": 0.4
        }
      },
      "credentials": {
        "openAiApi": { "id": "fWu9q6OBHmEuN6S8", "name": "OpenAI account" }
      }
    },
    {
      "id": "88888888-0004-0000-0000-000000000000",
      "name": "Memory - Role",
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [1880, 1000],
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Webhook').first().json.body.sessionId }}",
        "contextWindowLength": 20,
        "tableName": "n8n_chat_histories"
      },
      "credentials": {
        "postgres": { "id": "EOM5oSmV2ybBnerE", "name": "Postgres account" }
      }
    },
    {
      "id": "88888888-0005-0000-0000-000000000000",
      "name": "Respond - Role",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [2080, 780],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"output\": {{ JSON.stringify($json.output) }}}",
        "options": {}
      }
    },
    {
      "id": "99999999-0001-0000-0000-000000000000",
      "name": "Respond - Other",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [1540, 1200],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"output\": \"非常抱歉，我只能回答与基础规则和角色信息相关的问题，其他问题暂时还不能回答，请尝试其他问题。\"}",
        "options": {}
      }
    },
    {
      "id": "99999999-0002-0000-0000-000000000000",
      "name": "Respond - End",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [1540, 1400],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"output\": \"谢谢和你的对话，祝你在鸦木布拉夫玩得愉快！有需要随时回来。\"}",
        "options": {}
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "IF - Is Init", "type": "main", "index": 0 }]]
    },
    "IF - Is Init": {
      "main": [
        [{ "node": "AI Agent - Opening", "type": "main", "index": 0 }],
        [{ "node": "Classify Intent", "type": "main", "index": 0 }]
      ]
    },
    "DeepSeek - Opening": {
      "ai_languageModel": [[{ "node": "AI Agent - Opening", "type": "ai_languageModel", "index": 0 }]]
    },
    "Memory - Opening": {
      "ai_memory": [[{ "node": "AI Agent - Opening", "type": "ai_memory", "index": 0 }]]
    },
    "AI Agent - Opening": {
      "main": [[{ "node": "Respond - Opening", "type": "main", "index": 0 }]]
    },
    "Classify Intent": {
      "main": [[{ "node": "Parse Intent", "type": "main", "index": 0 }]]
    },
    "DeepSeek - Classify": {
      "ai_languageModel": [[{ "node": "Classify Intent", "type": "ai_languageModel", "index": 0 }]]
    },
    "Parse Intent": {
      "main": [[{ "node": "Switch - Intent", "type": "main", "index": 0 }]]
    },
    "Switch - Intent": {
      "main": [
        [{ "node": "Read Core Rules", "type": "main", "index": 0 }],
        [{ "node": "IF - Role Confident", "type": "main", "index": 0 }],
        [{ "node": "Respond - End", "type": "main", "index": 0 }],
        [{ "node": "Respond - Other", "type": "main", "index": 0 }]
      ]
    },
    "IF - Role Confident": {
      "main": [
        [{ "node": "Read All Plays", "type": "main", "index": 0 }],
        [{ "node": "AI Agent - Ask Confirm", "type": "main", "index": 0 }]
      ]
    },
    "DeepSeek - Confirm": {
      "ai_languageModel": [[{ "node": "AI Agent - Ask Confirm", "type": "ai_languageModel", "index": 0 }]]
    },
    "Memory - Confirm": {
      "ai_memory": [[{ "node": "AI Agent - Ask Confirm", "type": "ai_memory", "index": 0 }]]
    },
    "AI Agent - Ask Confirm": {
      "main": [[{ "node": "Respond - Confirm", "type": "main", "index": 0 }]]
    },
    "Read Core Rules": {
      "main": [[{ "node": "AI Agent - Basic Rules", "type": "main", "index": 0 }]]
    },
    "DeepSeek - Rules": {
      "ai_languageModel": [[{ "node": "AI Agent - Basic Rules", "type": "ai_languageModel", "index": 0 }]]
    },
    "Memory - Rules": {
      "ai_memory": [[{ "node": "AI Agent - Basic Rules", "type": "ai_memory", "index": 0 }]]
    },
    "AI Agent - Basic Rules": {
      "main": [[{ "node": "Respond - Basic Rules", "type": "main", "index": 0 }]]
    },
    "Read All Plays": {
      "main": [[{ "node": "AI Agent - Role Info", "type": "main", "index": 0 }]]
    },
    "DeepSeek - Role": {
      "ai_languageModel": [[{ "node": "AI Agent - Role Info", "type": "ai_languageModel", "index": 0 }]]
    },
    "Memory - Role": {
      "ai_memory": [[{ "node": "AI Agent - Role Info", "type": "ai_memory", "index": 0 }]]
    },
    "AI Agent - Role Info": {
      "main": [[{ "node": "Respond - Role", "type": "main", "index": 0 }]]
    }
  }
}
