tools/onboarding-bot/n8n/workflow-v0.3.json
{
  "id": "potccchatv03000000",
  "name": "POTCC Chat v0.3 (streaming)",
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "nodes": [
    {
      "id": "11111111-0001-0000-0000-000000000003",
      "name": "Chat Trigger",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        200,
        400
      ],
      "parameters": {
        "public": true,
        "mode": "webhook",
        "options": {
          "responseMode": "streaming"
        }
      },
      "webhookId": "potcc-chat-stream"
    },
    {
      "id": "22222222-0001-0000-0000-000000000003",
      "name": "IF - Is Init",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        460,
        400
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "c-init",
              "leftValue": "={{ $json.chatInput }}",
              "rightValue": "__INIT__",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "33333333-0001-0000-0000-000000000003",
      "name": "AI Agent - Opening",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        760,
        200
      ],
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Chat Trigger').first().json.chatInput }}",
        "options": {
          "systemMessage": "=你是血染钟楼（Blood on the Clocktower）助手 POTCC（波特克）。\n\n现在是用户首次进入对话。用一句自然、不重复模板的中文问候语向他介绍自己。\n\n关键信息必须包含：\n- 你叫 波特克 (POTCC)\n- 你能帮他了解血染钟楼基础规则、解说角色技能、给予玩法通用原则指引\n- **当前版本仅覆盖官方三大剧本：《暗流涌动》《暗月初升》《梦陨春宵》**\n- 不要承诺\"具体玩法建议\"——你只讲原则，不做个别角色的微操教学\n\n语气亲切，不说废话。直接输出问候语，没有任何前后缀。\n\n== 当前用户上下文 ==\n昵称：{{ $('Chat Trigger').first().json.nickname }}\n正在玩的剧本：{{ $('Chat Trigger').first().json.profile?.script || '未指定' }}\n自己的角色：{{ $('Chat Trigger').first().json.profile?.role || '未指定' }}",
          "enableStreaming": true
        }
      }
    },
    {
      "id": "33333333-0002-0000-0000-000000000003",
      "name": "DeepSeek - Opening",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        680,
        400
      ],
      "parameters": {
        "model": {
          "__rl": true,
          "value": "deepseek-chat",
          "mode": "list"
        },
        "options": {
          "baseURL": "https://api.deepseek.com",
          "temperature": 0.9
        }
      },
      "credentials": {
        "openAiApi": {
          "id": "fWu9q6OBHmEuN6S8",
          "name": "OpenAI account"
        }
      }
    },
    {
      "id": "33333333-0003-0000-0000-000000000003",
      "name": "Memory - Opening",
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        840,
        420
      ],
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Chat Trigger').first().json.sessionId }}",
        "contextWindowLength": 20,
        "tableName": "n8n_chat_histories"
      },
      "credentials": {
        "postgres": {
          "id": "EOM5oSmV2ybBnerE",
          "name": "Postgres account"
        }
      }
    },
    {
      "id": "44444444-0001-0000-0000-000000000003",
      "name": "Classify Intent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        760,
        600
      ],
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Chat Trigger').first().json.chatInput }}",
        "options": {
          "systemMessage": "你是一个意图分类器。根据用户的中文消息，输出严格的 JSON，不要输出任何其他内容。\n\n意图（choose one）：\n- 了解基本规则：询问血染钟楼的整体玩法、阵营、胜负、流程、醉酒中毒等基础概念\n- 了解角色：询问某个或多个具体角色的技能、玩法、作用（可能是 1 个或多个角色）\n- 其他：询问与血染钟楼规则或角色无关的问题\n- 结束对话：表达再见、结束、离开等意思\n\n如果是\"了解角色\"，还要判断：\n- role_names：用户提到的角色中文名数组。可能 1 个或多个（例如\"占卜师和神谕者有什么区别\"→两个）。无法识别填空数组 []\n- role_confidence：对整体 role_names 的把握程度，0-1 小数\n  - 0.9+：用户直接说了所有角色的全名\n  - 0.5-0.9：部分是描述推测\n  - <0.5：完全不确定\n\n输出格式（严格 JSON，不要 markdown 代码块）：\n{\"intent\": \"了解基本规则\" | \"了解角色\" | \"其他\" | \"结束对话\", \"role_names\": string[], \"role_confidence\": number}",
          "enableStreaming": false
        }
      }
    },
    {
      "id": "44444444-0002-0000-0000-000000000003",
      "name": "DeepSeek - Classify",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        680,
        780
      ],
      "parameters": {
        "model": {
          "__rl": true,
          "value": "deepseek-chat",
          "mode": "list"
        },
        "options": {
          "baseURL": "https://api.deepseek.com",
          "temperature": 0
        }
      },
      "credentials": {
        "openAiApi": {
          "id": "fWu9q6OBHmEuN6S8",
          "name": "OpenAI account"
        }
      }
    },
    {
      "id": "55555555-0001-0000-0000-000000000003",
      "name": "Parse Intent",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1020,
        600
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "const raw = $input.first().json.text || $input.first().json.output || '';\nlet parsed;\ntry {\n  const match = raw.match(/\\{[\\s\\S]*\\}/);\n  parsed = match ? JSON.parse(match[0]) : { intent: '其他', role_names: [], role_confidence: 0 };\n  if (parsed.role_names === undefined || parsed.role_names === null) parsed.role_names = [];\n  if (typeof parsed.role_names === 'string') parsed.role_names = [parsed.role_names];\n  if (!Array.isArray(parsed.role_names)) parsed.role_names = [];\n  if (parsed.role_name && parsed.role_names.length === 0) parsed.role_names = [parsed.role_name];\n} catch (e) {\n  parsed = { intent: '其他', role_names: [], role_confidence: 0 };\n}\nreturn [{ json: parsed }];"
      }
    },
    {
      "id": "66666666-0001-0000-0000-000000000003",
      "name": "Switch - Intent",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        1280,
        600
      ],
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "c-r",
                    "leftValue": "={{ $json.intent }}",
                    "rightValue": "了解基本规则",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "了解基本规则"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "c-ro",
                    "leftValue": "={{ $json.intent }}",
                    "rightValue": "了解角色",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "了解角色"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "c-e",
                    "leftValue": "={{ $json.intent }}",
                    "rightValue": "结束对话",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "结束对话"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "其他"
        }
      }
    },
    {
      "id": "77777777-0001-0000-0000-000000000003",
      "name": "Read Core Rules",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1540,
        380
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "const fs = require('fs');\nconst content = fs.readFileSync('/knowledge/core_rules.md', 'utf8');\nconst playstyle = fs.readFileSync('/knowledge/playstyle_principles.md', 'utf8');\nreturn [{ json: { content, playstyle } }];"
      }
    },
    {
      "id": "77777777-0002-0000-0000-000000000003",
      "name": "AI Agent - Basic Rules",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1800,
        380
      ],
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Chat Trigger').first().json.chatInput }}",
        "options": {
          "systemMessage": "=你是血染钟楼助手 POTCC（波特克）。\n\n用户想了解血染钟楼的基础规则。根据下方规则文档回答：\n- 中文\n- 简洁（目标 100 字，不超过 200 字）\n- 只讲用户问的点，不扩展\n- 若规则文档没写，坦白说不确定\n- 不推理、不假设、不展开场景\n\n=== 规则文档 ===\n{{ $('Read Core Rules').first().json.content }}\n\n=== 玩法通用原则（回答\"怎么玩\"这类问题时可引用）===\n{{ $('Read Core Rules').first().json.playstyle }}\n\n== 当前用户上下文 ==\n昵称：{{ $('Chat Trigger').first().json.nickname }}\n正在玩的剧本：{{ $('Chat Trigger').first().json.profile?.script || '未指定' }}\n自己的角色：{{ $('Chat Trigger').first().json.profile?.role || '未指定' }}\n\n\n\n== Profile 更新规则（严格）==\n仅当用户明说自己的剧本/角色时，才能在回答末尾追加 HTML 注释触发 profile 更新（用户不可见）：\n  <!--profile: {\"script\": \"XXX\"}-->  或  <!--profile: {\"role\": \"XXX\"}-->  或 两者都有\n触发条件：\n- script：用户说\"我在玩 XX 剧本\"\n- role：用户说\"我是 XX\" / \"我抽到 XX\"，或明确肯定回答\"这是你的角色吗\"\n- 只是询问某角色（如\"占卜师怎么玩\"）不更新 role；可在回答里顺带问\"这是你自己的角色吗？\"\n- 不确定时不更新，指令只能放最后一行",
          "enableStreaming": true
        }
      }
    },
    {
      "id": "77777777-0003-0000-0000-000000000003",
      "name": "DeepSeek - Rules",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1720,
        580
      ],
      "parameters": {
        "model": {
          "__rl": true,
          "value": "deepseek-chat",
          "mode": "list"
        },
        "options": {
          "baseURL": "https://api.deepseek.com",
          "temperature": 0.4
        }
      },
      "credentials": {
        "openAiApi": {
          "id": "fWu9q6OBHmEuN6S8",
          "name": "OpenAI account"
        }
      }
    },
    {
      "id": "77777777-0004-0000-0000-000000000003",
      "name": "Memory - Rules",
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        1880,
        600
      ],
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Chat Trigger').first().json.sessionId }}",
        "contextWindowLength": 20,
        "tableName": "n8n_chat_histories"
      },
      "credentials": {
        "postgres": {
          "id": "EOM5oSmV2ybBnerE",
          "name": "Postgres account"
        }
      }
    },
    {
      "id": "88888888-0000-0000-0000-000000000003",
      "name": "IF - Role Confident",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1400,
        780
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "c-conf",
              "leftValue": "={{ $json.role_confidence }}",
              "rightValue": 0.7,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "88888888-0001-0000-0000-000000000003",
      "name": "Fuzzy Role Lookup",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1540,
        680
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "const fs = require('fs');\nconst path = require('path');\n\nconst queries = $('Parse Intent').first().json.role_names || [];\nconst dir = '/knowledge/roles';\nconst files = fs.readdirSync(dir).filter(f => f.endsWith('.md'));\n\nfunction findMatch(query) {\n  const q = (query || '').trim();\n  if (!q) return null;\n  let m = files.find(f => f.replace('.md','') === q);\n  if (m) return m;\n  m = files.find(f => f.replace('.md','').includes(q));\n  if (m) return m;\n  m = files.find(f => {\n    const stem = f.replace('.md','');\n    return stem.length >= 2 && q.includes(stem);\n  });\n  return m || null;\n}\n\nconst results = queries.map(q => {\n  const file = findMatch(q);\n  if (file) {\n    return {\n      query: q,\n      found: true,\n      role: file.replace('.md',''),\n      content: fs.readFileSync(path.join(dir, file), 'utf8')\n    };\n  }\n  return { query: q, found: false, role: q, content: '' };\n});\n\nconst parts = results.map(r =>\n  r.found ? `### ${r.role}\\n\\n${r.content}` : `### ${r.query}（资料中未找到此角色）`\n);\nconst formatted = parts.join('\\n\\n---\\n\\n') || '（用户未指明具体角色）';\n\nconst playstyle = fs.readFileSync('/knowledge/playstyle_principles.md', 'utf8');\n\nreturn [{\n  json: {\n    results, queries,\n    found_count: results.filter(r => r.found).length,\n    total_count: queries.length,\n    formatted,\n    playstyle\n  }\n}];"
      }
    },
    {
      "id": "88888888-0002-0000-0000-000000000003",
      "name": "AI Agent - Role Info",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1800,
        680
      ],
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Chat Trigger').first().json.chatInput }}",
        "options": {
          "systemMessage": "=你是血染钟楼助手 POTCC（波特克）。\n\n用户在询问某个或多个具体角色。**严格**根据下方检索到的角色资料回答。\n\n=== 严格规则 ===\n1. 只陈述检索到的角色资料里直接写明的内容（技能、规则澄清）\n2. 不推理、不假设、不列举\"如果 A 则 B\"的可能性\n3. 不展开场景分析\n4. 用户没问的，不主动说\n5. 某角色资料标注\"未找到此角色\" → 明确说该角色还未被学习，不编造\n\n=== 玩法建议处理 ===\n- 角色资料里没有具体玩法建议\n- 用户问\"怎么玩\"，你可以引用\"玩法通用原则\"的抽象建议\n- 不要给角色特定微操\n- 明确告诉用户：\"具体玩法微操请咨询资深玩家\"\n\n=== 回答要求 ===\n- 中文；单角色 100-150 字；多角色 200-300 字\n- 忠实于资料，不编造\n- 不要在回答里提及\"检索到的资料\"\"系统提示\"等元信息\n\n=== 检索到的角色资料 ===\n{{ $('Fuzzy Role Lookup').first().json.formatted }}\n\n=== 玩法通用原则（可引用）===\n{{ $('Fuzzy Role Lookup').first().json.playstyle }}\n\n== 当前用户上下文 ==\n昵称：{{ $('Chat Trigger').first().json.nickname }}\n正在玩的剧本：{{ $('Chat Trigger').first().json.profile?.script || '未指定' }}\n自己的角色：{{ $('Chat Trigger').first().json.profile?.role || '未指定' }}\n\n\n\n== Profile 更新规则（严格）==\n仅当用户明说自己的剧本/角色时，在回答末尾追加 HTML 注释（用户不可见）：\n  <!--profile: {\"script\":\"XXX\"}-->  或  <!--profile: {\"role\":\"XXX\"}-->\n触发条件：\n- script：用户说\"我在玩 XX 剧本\"\n- role：用户说\"我是 XX\" / \"我抽到 XX\"，或明确肯定\"这是你的角色吗\"\n- 只询问某角色（如\"占卜师怎么玩\"）不更新；可顺带问\"这是你自己的角色吗？\"\n- 指令只能放最后一行",
          "enableStreaming": true
        }
      }
    },
    {
      "id": "88888888-0003-0000-0000-000000000003",
      "name": "DeepSeek - Role",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1720,
        880
      ],
      "parameters": {
        "model": {
          "__rl": true,
          "value": "deepseek-chat",
          "mode": "list"
        },
        "options": {
          "baseURL": "https://api.deepseek.com",
          "temperature": 0.4
        }
      },
      "credentials": {
        "openAiApi": {
          "id": "fWu9q6OBHmEuN6S8",
          "name": "OpenAI account"
        }
      }
    },
    {
      "id": "88888888-0004-0000-0000-000000000003",
      "name": "Memory - Role",
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        1880,
        900
      ],
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Chat Trigger').first().json.sessionId }}",
        "contextWindowLength": 20,
        "tableName": "n8n_chat_histories"
      },
      "credentials": {
        "postgres": {
          "id": "EOM5oSmV2ybBnerE",
          "name": "Postgres account"
        }
      }
    },
    {
      "id": "88888888-0006-0000-0000-000000000003",
      "name": "AI Agent - Ask Confirm",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1800,
        1000
      ],
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Chat Trigger').first().json.chatInput }}",
        "options": {
          "systemMessage": "=你是血染钟楼助手 POTCC（波特克）。\n\n用户想了解某个角色，但你没完全把握他指的是哪一个。AI 初步推测的角色是：{{ $('Parse Intent').first().json.role_names?.[0] || '（未识别）' }}。\n\n请用一句中文礼貌地向用户确认是不是这个角色，或者让用户告诉你具体角色名。\n\n== 当前用户上下文 ==\n昵称：{{ $('Chat Trigger').first().json.nickname }}\n正在玩的剧本：{{ $('Chat Trigger').first().json.profile?.script || '未指定' }}\n自己的角色：{{ $('Chat Trigger').first().json.profile?.role || '未指定' }}",
          "enableStreaming": true
        }
      }
    },
    {
      "id": "88888888-0007-0000-0000-000000000003",
      "name": "DeepSeek - Confirm",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1720,
        1200
      ],
      "parameters": {
        "model": {
          "__rl": true,
          "value": "deepseek-chat",
          "mode": "list"
        },
        "options": {
          "baseURL": "https://api.deepseek.com",
          "temperature": 0.5
        }
      },
      "credentials": {
        "openAiApi": {
          "id": "fWu9q6OBHmEuN6S8",
          "name": "OpenAI account"
        }
      }
    },
    {
      "id": "88888888-0008-0000-0000-000000000003",
      "name": "Memory - Confirm",
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        1880,
        1220
      ],
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Chat Trigger').first().json.sessionId }}",
        "contextWindowLength": 20,
        "tableName": "n8n_chat_histories"
      },
      "credentials": {
        "postgres": {
          "id": "EOM5oSmV2ybBnerE",
          "name": "Postgres account"
        }
      }
    },
    {
      "id": "99999999-0001-0000-0000-000000000003",
      "name": "AI Agent - Other",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1540,
        1100
      ],
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Chat Trigger').first().json.chatInput }}",
        "options": {
          "systemMessage": "=你是血染钟楼助手 POTCC（波特克）。\n\n用户刚才问的内容被归类为\"其他\"。你的任务：\n1. 如果用户问\"你能做什么 / 你是谁 / 你好\"等关于你自身的问题 → 简短介绍你能做什么（基础规则 / 角色技能 / 玩法通用原则），鼓励他问具体问题\n2. 如果用户问与血染钟楼完全无关的话题 → 礼貌说明你只能帮血染钟楼相关的，列举可以问什么\n3. 血染钟楼相关但意图不明 → 请用户澄清，举 2-3 个提问方向示例\n\n要求：\n- 中文，简洁（不超过 100 字）\n- 不复读模板\n- 强调仅支持官方三大剧本：《暗流涌动》《暗月初升》《梦陨春宵》\n- 不承诺\"具体玩法建议\"——只讲原则\n\n== 当前用户上下文 ==\n昵称：{{ $('Chat Trigger').first().json.nickname }}\n正在玩的剧本：{{ $('Chat Trigger').first().json.profile?.script || '未指定' }}\n自己的角色：{{ $('Chat Trigger').first().json.profile?.role || '未指定' }}",
          "enableStreaming": true
        }
      }
    },
    {
      "id": "99999999-0002-0000-0000-000000000003",
      "name": "DeepSeek - Other",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1460,
        1300
      ],
      "parameters": {
        "model": {
          "__rl": true,
          "value": "deepseek-chat",
          "mode": "list"
        },
        "options": {
          "baseURL": "https://api.deepseek.com",
          "temperature": 0
        }
      },
      "credentials": {
        "openAiApi": {
          "id": "fWu9q6OBHmEuN6S8",
          "name": "OpenAI account"
        }
      }
    },
    {
      "id": "99999999-0005-0000-0000-000000000003",
      "name": "Memory - Other",
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        1620,
        1320
      ],
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Chat Trigger').first().json.sessionId }}",
        "contextWindowLength": 20,
        "tableName": "n8n_chat_histories"
      },
      "credentials": {
        "postgres": {
          "id": "EOM5oSmV2ybBnerE",
          "name": "Postgres account"
        }
      }
    },
    {
      "id": "99999999-0003-0000-0000-000000000003",
      "name": "AI Agent - End",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1540,
        1400
      ],
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Chat Trigger').first().json.chatInput }}",
        "options": {
          "systemMessage": "你要一字不差地复述以下文本，不添加任何内容：\n\n谢谢和你的对话，祝你在鸦木布拉夫玩得愉快！有需要随时回来。",
          "enableStreaming": true
        }
      }
    },
    {
      "id": "99999999-0004-0000-0000-000000000003",
      "name": "DeepSeek - End",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1460,
        1600
      ],
      "parameters": {
        "model": {
          "__rl": true,
          "value": "deepseek-chat",
          "mode": "list"
        },
        "options": {
          "baseURL": "https://api.deepseek.com",
          "temperature": 0
        }
      },
      "credentials": {
        "openAiApi": {
          "id": "fWu9q6OBHmEuN6S8",
          "name": "OpenAI account"
        }
      }
    },
    {
      "id": "99999999-0006-0000-0000-000000000003",
      "name": "Memory - End",
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        1620,
        1620
      ],
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Chat Trigger').first().json.sessionId }}",
        "contextWindowLength": 20,
        "tableName": "n8n_chat_histories"
      },
      "credentials": {
        "postgres": {
          "id": "EOM5oSmV2ybBnerE",
          "name": "Postgres account"
        }
      }
    }
  ],
  "connections": {
    "Chat Trigger": {
      "main": [
        [
          {
            "node": "IF - Is Init",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - Is Init": {
      "main": [
        [
          {
            "node": "AI Agent - Opening",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Classify Intent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DeepSeek - Opening": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent - Opening",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Memory - Opening": {
      "ai_memory": [
        [
          {
            "node": "AI Agent - Opening",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Classify Intent": {
      "main": [
        [
          {
            "node": "Parse Intent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DeepSeek - Classify": {
      "ai_languageModel": [
        [
          {
            "node": "Classify Intent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Parse Intent": {
      "main": [
        [
          {
            "node": "Switch - Intent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch - Intent": {
      "main": [
        [
          {
            "node": "Read Core Rules",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF - Role Confident",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent - End",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent - Other",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Core Rules": {
      "main": [
        [
          {
            "node": "AI Agent - Basic Rules",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DeepSeek - Rules": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent - Basic Rules",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Memory - Rules": {
      "ai_memory": [
        [
          {
            "node": "AI Agent - Basic Rules",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "IF - Role Confident": {
      "main": [
        [
          {
            "node": "Fuzzy Role Lookup",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent - Ask Confirm",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DeepSeek - Role": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent - Role Info",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Memory - Role": {
      "ai_memory": [
        [
          {
            "node": "AI Agent - Role Info",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "DeepSeek - Confirm": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent - Ask Confirm",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Memory - Confirm": {
      "ai_memory": [
        [
          {
            "node": "AI Agent - Ask Confirm",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "DeepSeek - Other": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent - Other",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Memory - Other": {
      "ai_memory": [
        [
          {
            "node": "AI Agent - Other",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "DeepSeek - End": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent - End",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Memory - End": {
      "ai_memory": [
        [
          {
            "node": "AI Agent - End",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Fuzzy Role Lookup": {
      "main": [
        [
          {
            "node": "AI Agent - Role Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}