tools/onboarding-bot/n8n/workflow-v0.3.json
{
  "id": "potccchatv03000000",
  "name": "POTCC Chat v0.3 (streaming)",
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "nodes": [
    {
      "id": "11111111-0001-0000-0000-000000000003",
      "name": "Chat Trigger",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        200,
        400
      ],
      "parameters": {
        "public": true,
        "mode": "webhook",
        "options": {
          "responseMode": "streaming"
        }
      },
      "webhookId": "potcc-chat-stream"
    },
    {
      "id": "22222222-0001-0000-0000-000000000003",
      "name": "IF - Is Init",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        460,
        400
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "c-init",
              "leftValue": "={{ $json.chatInput }}",
              "rightValue": "__INIT__",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "33333333-0001-0000-0000-000000000003",
      "name": "AI Agent - Opening",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        760,
        200
      ],
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Chat Trigger').first().json.chatInput }}",
        "options": {
          "systemMessage": "=你是血染钟楼（Blood on the Clocktower）助手 POTCC（波特克）。\n\n当前用户昵称是 {{ $('Chat Trigger').first().json.nickname }}。\n\n现在是他首次进入对话。请用一到两句自然、不重复模板的中文问候语，向他介绍你自己：\n- 你叫 波特克 (POTCC)\n- 你可以帮他了解血染钟楼的基础规则\n- 你可以解释不同角色的技能含义\n- 你可以给出这个角色的基本玩法建议\n\n用亲切但不啰嗦的语气。直接输出问候语，不要任何前后缀。",
          "enableStreaming": true
        }
      }
    },
    {
      "id": "33333333-0002-0000-0000-000000000003",
      "name": "DeepSeek - Opening",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        680,
        400
      ],
      "parameters": {
        "model": {
          "__rl": true,
          "value": "deepseek-chat",
          "mode": "list"
        },
        "options": {
          "baseURL": "https://api.deepseek.com",
          "temperature": 0.9
        }
      },
      "credentials": {
        "openAiApi": {
          "id": "fWu9q6OBHmEuN6S8",
          "name": "OpenAI account"
        }
      }
    },
    {
      "id": "33333333-0003-0000-0000-000000000003",
      "name": "Memory - Opening",
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        840,
        420
      ],
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Chat Trigger').first().json.sessionId }}",
        "contextWindowLength": 20,
        "tableName": "n8n_chat_histories"
      },
      "credentials": {
        "postgres": {
          "id": "EOM5oSmV2ybBnerE",
          "name": "Postgres account"
        }
      }
    },
    {
      "id": "44444444-0001-0000-0000-000000000003",
      "name": "Classify Intent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        760,
        600
      ],
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Chat Trigger').first().json.chatInput }}",
        "options": {
          "systemMessage": "你是一个意图分类器。根据用户的中文消息，输出严格的 JSON，不要输出任何其他内容。\n\n意图（choose one）：\n- 了解基本规则：询问血染钟楼的整体玩法、阵营、胜负、流程、醉酒中毒等基础概念\n- 了解角色：询问某个或多个具体角色的技能、玩法、作用（可能是 1 个或多个角色）\n- 其他：询问与血染钟楼规则或角色无关的问题\n- 结束对话：表达再见、结束、离开等意思\n\n如果是\"了解角色\"，还要判断：\n- role_names：用户提到的角色中文名数组。可能 1 个或多个（例如\"占卜师和神谕者有什么区别\"→两个）。无法识别填空数组 []\n- role_confidence：对整体 role_names 的把握程度，0-1 小数\n  - 0.9+：用户直接说了所有角色的全名\n  - 0.5-0.9：部分是描述推测\n  - <0.5：完全不确定\n\n输出格式（严格 JSON，不要 markdown 代码块）：\n{\"intent\": \"了解基本规则\" | \"了解角色\" | \"其他\" | \"结束对话\", \"role_names\": string[], \"role_confidence\": number}",
          "enableStreaming": false
        }
      }
    },
    {
      "id": "44444444-0002-0000-0000-000000000003",
      "name": "DeepSeek - Classify",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        680,
        780
      ],
      "parameters": {
        "model": {
          "__rl": true,
          "value": "deepseek-chat",
          "mode": "list"
        },
        "options": {
          "baseURL": "https://api.deepseek.com",
          "temperature": 0
        }
      },
      "credentials": {
        "openAiApi": {
          "id": "fWu9q6OBHmEuN6S8",
          "name": "OpenAI account"
        }
      }
    },
    {
      "id": "55555555-0001-0000-0000-000000000003",
      "name": "Parse Intent",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1020,
        600
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "const raw = $input.first().json.text || $input.first().json.output || '';\nlet parsed;\ntry {\n  const match = raw.match(/\\{[\\s\\S]*\\}/);\n  parsed = match ? JSON.parse(match[0]) : { intent: '其他', role_names: [], role_confidence: 0 };\n  if (parsed.role_names === undefined || parsed.role_names === null) parsed.role_names = [];\n  if (typeof parsed.role_names === 'string') parsed.role_names = [parsed.role_names];\n  if (!Array.isArray(parsed.role_names)) parsed.role_names = [];\n  if (parsed.role_name && parsed.role_names.length === 0) parsed.role_names = [parsed.role_name];\n} catch (e) {\n  parsed = { intent: '其他', role_names: [], role_confidence: 0 };\n}\nreturn [{ json: parsed }];"
      }
    },
    {
      "id": "66666666-0001-0000-0000-000000000003",
      "name": "Switch - Intent",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        1280,
        600
      ],
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "c-r",
                    "leftValue": "={{ $json.intent }}",
                    "rightValue": "了解基本规则",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "了解基本规则"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "c-ro",
                    "leftValue": "={{ $json.intent }}",
                    "rightValue": "了解角色",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "了解角色"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "c-e",
                    "leftValue": "={{ $json.intent }}",
                    "rightValue": "结束对话",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "结束对话"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "其他"
        }
      }
    },
    {
      "id": "77777777-0001-0000-0000-000000000003",
      "name": "Read Core Rules",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1540,
        380
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "const fs = require('fs');\nconst content = fs.readFileSync('/knowledge/core_rules.md', 'utf8');\nreturn [{ json: { content } }];"
      }
    },
    {
      "id": "77777777-0002-0000-0000-000000000003",
      "name": "AI Agent - Basic Rules",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1800,
        380
      ],
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Chat Trigger').first().json.chatInput }}",
        "options": {
          "systemMessage": "=你是血染钟楼助手 POTCC（波特克）。\n\n用户想了解血染钟楼的基础规则。根据下方的规则文档回答用户问题。\n\n要求：\n- 用中文回答\n- 简洁：目标 100 字左右，最多不超过 200 字\n- 只讲用户问的点，不要扩展\n- 如果用户的问题规则文档里没写，坦白说你不确定\n\n---\n规则文档：\n{{ $('Read Core Rules').first().json.content }}",
          "enableStreaming": true
        }
      }
    },
    {
      "id": "77777777-0003-0000-0000-000000000003",
      "name": "DeepSeek - Rules",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1720,
        580
      ],
      "parameters": {
        "model": {
          "__rl": true,
          "value": "deepseek-chat",
          "mode": "list"
        },
        "options": {
          "baseURL": "https://api.deepseek.com",
          "temperature": 0.4
        }
      },
      "credentials": {
        "openAiApi": {
          "id": "fWu9q6OBHmEuN6S8",
          "name": "OpenAI account"
        }
      }
    },
    {
      "id": "77777777-0004-0000-0000-000000000003",
      "name": "Memory - Rules",
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        1880,
        600
      ],
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Chat Trigger').first().json.sessionId }}",
        "contextWindowLength": 20,
        "tableName": "n8n_chat_histories"
      },
      "credentials": {
        "postgres": {
          "id": "EOM5oSmV2ybBnerE",
          "name": "Postgres account"
        }
      }
    },
    {
      "id": "88888888-0000-0000-0000-000000000003",
      "name": "IF - Role Confident",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1400,
        780
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "c-conf",
              "leftValue": "={{ $json.role_confidence }}",
              "rightValue": 0.7,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "88888888-0001-0000-0000-000000000003",
      "name": "Fuzzy Role Lookup",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1540,
        680
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "const fs = require('fs');\nconst path = require('path');\n\nconst queries = $('Parse Intent').first().json.role_names || [];\nconst dir = '/knowledge/roles';\nconst files = fs.readdirSync(dir).filter(f => f.endsWith('.md'));\n\nfunction findMatch(query) {\n  const q = (query || '').trim();\n  if (!q) return null;\n  let m = files.find(f => f.replace('.md','') === q);\n  if (m) return m;\n  m = files.find(f => f.replace('.md','').includes(q));\n  if (m) return m;\n  m = files.find(f => {\n    const stem = f.replace('.md','');\n    return stem.length >= 2 && q.includes(stem);\n  });\n  return m || null;\n}\n\nconst results = queries.map(q => {\n  const file = findMatch(q);\n  if (file) {\n    return {\n      query: q,\n      found: true,\n      role: file.replace('.md',''),\n      content: fs.readFileSync(path.join(dir, file), 'utf8')\n    };\n  }\n  return { query: q, found: false, role: q, content: '' };\n});\n\nconst parts = results.map(r =>\n  r.found ? `### ${r.role}\\n\\n${r.content}` : `### ${r.query}（资料中未找到此角色）`\n);\nconst formatted = parts.join('\\n\\n---\\n\\n') || '（用户未指明具体角色）';\n\nreturn [{\n  json: {\n    results,\n    queries,\n    found_count: results.filter(r => r.found).length,\n    total_count: queries.length,\n    formatted\n  }\n}];"
      }
    },
    {
      "id": "88888888-0002-0000-0000-000000000003",
      "name": "AI Agent - Role Info",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1800,
        680
      ],
      "parameters": {
        "promptType": "define",
        "text": "=用户问题：{{ $('Chat Trigger').first().json.chatInput }}\n\n== 检索到的角色资料 ==\n{{ $('Fuzzy Role Lookup').first().json.formatted }}",
        "options": {
          "systemMessage": "=你是血染钟楼助手 POTCC（波特克）。\n\n用户在询问某个或多个具体角色。根据下方【检索到的角色资料】回答：\n1. 单个角色：介绍技能含义 + 玩法建议\n2. 多个角色：各自简要介绍并做对比\n3. 某角色资料标注\"未找到此角色\"：明确告诉用户该角色还未被学习，不要编造\n\n要求：\n- 中文回答\n- 简洁（单角色 100-150 字；多角色 200-300 字）\n- 忠实于资料，不编造\n- 不要在回答里暴露\"检索到的角色资料\"这类元信息",
          "enableStreaming": true
        }
      }
    },
    {
      "id": "88888888-0003-0000-0000-000000000003",
      "name": "DeepSeek - Role",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1720,
        880
      ],
      "parameters": {
        "model": {
          "__rl": true,
          "value": "deepseek-chat",
          "mode": "list"
        },
        "options": {
          "baseURL": "https://api.deepseek.com",
          "temperature": 0.4
        }
      },
      "credentials": {
        "openAiApi": {
          "id": "fWu9q6OBHmEuN6S8",
          "name": "OpenAI account"
        }
      }
    },
    {
      "id": "88888888-0004-0000-0000-000000000003",
      "name": "Memory - Role",
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        1880,
        900
      ],
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Chat Trigger').first().json.sessionId }}",
        "contextWindowLength": 20,
        "tableName": "n8n_chat_histories"
      },
      "credentials": {
        "postgres": {
          "id": "EOM5oSmV2ybBnerE",
          "name": "Postgres account"
        }
      }
    },
    {
      "id": "88888888-0006-0000-0000-000000000003",
      "name": "AI Agent - Ask Confirm",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1800,
        1000
      ],
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Chat Trigger').first().json.chatInput }}",
        "options": {
          "systemMessage": "=你是血染钟楼助手 POTCC（波特克）。\n\n用户想了解某个角色，但你没完全把握他指的是哪一个。AI 初步推测的角色是：{{ $('Parse Intent').first().json.role_name || '（未识别）' }}。\n\n请用一句中文礼貌地向用户确认：",
          "enableStreaming": true
        }
      }
    },
    {
      "id": "88888888-0007-0000-0000-000000000003",
      "name": "DeepSeek - Confirm",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1720,
        1200
      ],
      "parameters": {
        "model": {
          "__rl": true,
          "value": "deepseek-chat",
          "mode": "list"
        },
        "options": {
          "baseURL": "https://api.deepseek.com",
          "temperature": 0.5
        }
      },
      "credentials": {
        "openAiApi": {
          "id": "fWu9q6OBHmEuN6S8",
          "name": "OpenAI account"
        }
      }
    },
    {
      "id": "88888888-0008-0000-0000-000000000003",
      "name": "Memory - Confirm",
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        1880,
        1220
      ],
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Chat Trigger').first().json.sessionId }}",
        "contextWindowLength": 20,
        "tableName": "n8n_chat_histories"
      },
      "credentials": {
        "postgres": {
          "id": "EOM5oSmV2ybBnerE",
          "name": "Postgres account"
        }
      }
    },
    {
      "id": "99999999-0001-0000-0000-000000000003",
      "name": "AI Agent - Other",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1540,
        1100
      ],
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Chat Trigger').first().json.chatInput }}",
        "options": {
          "systemMessage": "你要一字不差地复述以下文本，不添加任何内容：\n\n非常抱歉，我只能回答与基础规则和角色信息相关的问题，其他问题暂时还不能回答，请尝试其他问题。",
          "enableStreaming": true
        }
      }
    },
    {
      "id": "99999999-0002-0000-0000-000000000003",
      "name": "DeepSeek - Other",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1460,
        1300
      ],
      "parameters": {
        "model": {
          "__rl": true,
          "value": "deepseek-chat",
          "mode": "list"
        },
        "options": {
          "baseURL": "https://api.deepseek.com",
          "temperature": 0
        }
      },
      "credentials": {
        "openAiApi": {
          "id": "fWu9q6OBHmEuN6S8",
          "name": "OpenAI account"
        }
      }
    },
    {
      "id": "99999999-0005-0000-0000-000000000003",
      "name": "Memory - Other",
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        1620,
        1320
      ],
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Chat Trigger').first().json.sessionId }}",
        "contextWindowLength": 20,
        "tableName": "n8n_chat_histories"
      },
      "credentials": {
        "postgres": {
          "id": "EOM5oSmV2ybBnerE",
          "name": "Postgres account"
        }
      }
    },
    {
      "id": "99999999-0003-0000-0000-000000000003",
      "name": "AI Agent - End",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1540,
        1400
      ],
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Chat Trigger').first().json.chatInput }}",
        "options": {
          "systemMessage": "你要一字不差地复述以下文本，不添加任何内容：\n\n谢谢和你的对话，祝你在鸦木布拉夫玩得愉快！有需要随时回来。",
          "enableStreaming": true
        }
      }
    },
    {
      "id": "99999999-0004-0000-0000-000000000003",
      "name": "DeepSeek - End",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1460,
        1600
      ],
      "parameters": {
        "model": {
          "__rl": true,
          "value": "deepseek-chat",
          "mode": "list"
        },
        "options": {
          "baseURL": "https://api.deepseek.com",
          "temperature": 0
        }
      },
      "credentials": {
        "openAiApi": {
          "id": "fWu9q6OBHmEuN6S8",
          "name": "OpenAI account"
        }
      }
    },
    {
      "id": "99999999-0006-0000-0000-000000000003",
      "name": "Memory - End",
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        1620,
        1620
      ],
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Chat Trigger').first().json.sessionId }}",
        "contextWindowLength": 20,
        "tableName": "n8n_chat_histories"
      },
      "credentials": {
        "postgres": {
          "id": "EOM5oSmV2ybBnerE",
          "name": "Postgres account"
        }
      }
    }
  ],
  "connections": {
    "Chat Trigger": {
      "main": [
        [
          {
            "node": "IF - Is Init",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - Is Init": {
      "main": [
        [
          {
            "node": "AI Agent - Opening",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Classify Intent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DeepSeek - Opening": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent - Opening",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Memory - Opening": {
      "ai_memory": [
        [
          {
            "node": "AI Agent - Opening",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Classify Intent": {
      "main": [
        [
          {
            "node": "Parse Intent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DeepSeek - Classify": {
      "ai_languageModel": [
        [
          {
            "node": "Classify Intent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Parse Intent": {
      "main": [
        [
          {
            "node": "Switch - Intent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch - Intent": {
      "main": [
        [
          {
            "node": "Read Core Rules",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF - Role Confident",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent - End",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent - Other",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Core Rules": {
      "main": [
        [
          {
            "node": "AI Agent - Basic Rules",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DeepSeek - Rules": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent - Basic Rules",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Memory - Rules": {
      "ai_memory": [
        [
          {
            "node": "AI Agent - Basic Rules",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "IF - Role Confident": {
      "main": [
        [
          {
            "node": "Fuzzy Role Lookup",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent - Ask Confirm",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DeepSeek - Role": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent - Role Info",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Memory - Role": {
      "ai_memory": [
        [
          {
            "node": "AI Agent - Role Info",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "DeepSeek - Confirm": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent - Ask Confirm",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Memory - Confirm": {
      "ai_memory": [
        [
          {
            "node": "AI Agent - Ask Confirm",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "DeepSeek - Other": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent - Other",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Memory - Other": {
      "ai_memory": [
        [
          {
            "node": "AI Agent - Other",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "DeepSeek - End": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent - End",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Memory - End": {
      "ai_memory": [
        [
          {
            "node": "AI Agent - End",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Fuzzy Role Lookup": {
      "main": [
        [
          {
            "node": "AI Agent - Role Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}